.beneficiaries-page-header {
    display: flex;
    justify-content: space-evenly;
}

.filter-dropdown {
    flex-grow: 2;
}

.sort-dropdown {
    flex-grow: 2;
}

.search-bar {
    flex-grow: 3;
}

.register-beneficiary-btn {
    flex-grow: 1;
}
