/* TODO: hex codes not RGB */

.beneficiaries-page-container {
    display: flex;
    flex-direction: column;
}

.beneficiaries-page-container .beneficiaries-page-header {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

/* TODO: probably will change this image */
.beneficiaries-page-container .search-bar {
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat 95% center;
    background-color: rgb(243, 243, 243);
    border: none;
    min-width: 270px;
    padding: 0.8rem 1rem;
    border-radius: 12px;
}

.beneficiaries-page-container .sort-dropdown {
    background: transparent no-repeat 95% center;
    background-color: rgb(243, 243, 243);
    border: none;
    min-width: 200px;
    padding: 0.8rem 1rem;
    border-radius: 12px;
}

/*  TODO: also will probably change */
.beneficiaries-page-container #register-btn {
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat 92% center;
    background-color: rgb(243, 243, 243);
    min-width: 175px;
    border: 1px solid rgb(243, 243, 243);
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 12px;
    color: rgb(117, 117, 117);
}

.beneficiaries-page-container .register-beneficiary-btn:hover {
    border: 1px solid rgb(117, 117, 117);
}

.beneficiaries-page-container .beneficiaries-container {
    background-color: rgb(243, 243, 243);
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 77vh;
    border-radius: 12px;
    padding: 0.25rem;
    overflow: auto;
}

.beneficiaries-page-container .bfc-list-stack {
    border: 2px solid black;
}

.beneficiary-icon {
    margin-top: 2.5rem;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    border: 0px;
}

.beneficiary-container {
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 225px;
    width: 200px;
    border-radius: 12px;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border: 0;
}

.beneficiaries-page-container .beneficiaries-mapped-container {
    background-color: rgb(243, 243, 243);
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 77vh;
    border-radius: 12px;
    padding: 0.25rem;
    overflow: auto;
}

.beneficiaries-container {
    flex-direction: row;
}

.beneficiaries-page-container .beneficiary-icon {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    line-height: 55px;
    border-radius: 100px;
    /* border: 1px solid #000000; */
    font-size: 40px;
    color: #000000;
    text-align: center;
    background: #ebb19a;
    align-self: center;
    cursor: pointer;
}

.sort-dropdown-container button {
    background-color: transparent;
    border: 0px;
    height: 30px;
}

.beneficiaries-page-container .checkbox-option {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.beneficiaries-page-container
    .program-list-view-container
    #status-options-dropdown
    input:hover
    + label {
    background-color: transparent !important;
}
