.beneficiaries-page-container .del-form {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
}

.beneficiaries-page-container .beneficiaries-page-header {
    width: 800px;
    margin: 0 auto;
}

.beneficiaries-page-header .search-bar {
    float:left;
    width:200px;
    height:20px;
    border: 5px solid #00FF00
    
}

.beneficiaries-page-header .sort-btn-group {
    border: 8px solid #332148;
    margin-left: 200px;
    height: 20px;
}

.beneficiaries-page-container .filter-btn {
    border:#1fa035
}

.beneficiaries-page-header .sort-btn-group .sort-by-name {
    float: left;
    width: 100px;
}

.beneficiaries-page-header .sort-btn-group .sort-by-date {
    float: right;
    width: 100px;
}

.beneficiaries-page-header .sort-btn-group {
    box-align: left;
    height: 20px;
    width:200px;
}





