.beneficiary-registration-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.beneficiary-registration-container .page-title {
    text-align: center;
    margin-top: 0;
}

.beneficiary-registration-container .page-content {
    flex: 1;
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.beneficiary-registration-container input[type="text"],
.beneficiary-registration-container input[type="email"] {
    all: unset;
    border-bottom: 1px solid #C1C1C1;
}

.beneficiary-registration-container .section-container {
    margin-bottom: 20px;
}

.beneficiary-registration-container .section-label {
    display: block;
    margin-bottom: 10px;
}

.beneficiary-registration-container .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.beneficiary-registration-container .upload-container > .section-label {
    text-align: center;
}

.beneficiary-registration-container .upload-button {
    all: unset;
    background: white;
    border: 1px solid #6D6D6D;
    color: #6D6D6D;
    padding: 10px 60px;
    border-radius: 20px;
    cursor: pointer;
}

.beneficiary-registration-container .upload-button:hover,
.beneficiary-registration-container .upload-button:focus {
    background: #6D6D6D;
    color: white;
}

.beneficiary-registration-container .basic-info-input-container > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.beneficiary-registration-container .age-container {
    display: inline;
    width: 147px;
}

.beneficiary-registration-container .age-container .age {
    border: 1px solid #C1C1C1;
    color: #C1C1C1;
    border-radius: 20px;
    width: 95px;
    text-align: center;
    padding: 1px 0;
}

.beneficiary-registration-container .review-page-container {
    border: 1px solid black;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 20px;
}
