.beneficiary-registration-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.beneficiary-registration-container .page-title {
    text-align: center;
    margin-top: 0;
}

.beneficiary-registration-container .page-content {
    flex: 1;
    width: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.beneficiary-registration-container input[type="text"],
.beneficiary-registration-container input[type="email"] {
    all: unset;
    border-bottom: 1px solid #c1c1c1;
}

.beneficiary-registration-container .section-container {
    margin-bottom: 20px;
}

.beneficiary-registration-container .section-label {
    display: block;
    margin-bottom: 10px;
}

.beneficiary-registration-container .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.beneficiary-registration-container .upload-container > .section-label {
    text-align: center;
}

.beneficiary-registration-container .upload-button {
    all: unset;
    background: white;
    border: 1px solid #6d6d6d;
    color: #6d6d6d;
    padding: 10px 60px;
    border-radius: 20px;
    cursor: pointer;
}

.beneficiary-registration-container .upload-button:hover,
.beneficiary-registration-container .upload-button:focus {
    background: #6d6d6d;
    color: white;
}

.beneficiary-registration-container .name-input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.beneficiary-registration-container input#first-name {
    margin-right: 50px;
}

.beneficiary-registration-container .birthdate-input-container {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.beneficiary-registration-container .age {
    display: inline;
    border: 1px solid #c1c1c1;
    color: #c1c1c1;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    margin-left: 20px;
}

.beneficiary-registration-container .gender-input-container {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.beneficiary-registration-container input#other {
    cursor: text;
}

.beneficiary-registration-container input#phone-number,
.beneficiary-registration-container input#email-address,
.beneficiary-registration-container input#street-address {
    display: block;
    width: 100%;
}

.beneficiary-registration-container input#phone-number {
    margin-bottom: 15px;
}

.beneficiary-registration-container .review-page-container {
    border: 1px solid black;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 20px;
}
