/* 

add prefix to all css files
*/

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.login-container .login-container-left {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.login-container .left-design {
    height: 100%;
}

.login-container .right {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container .right .logo {
    width: 300px;
    margin-bottom: 95px;
}

.login-container .form {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.login-container .form input[type="text"] {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 50%;
    padding: 0.5rem;
    margin: 0.5rem;
}

.login-container .form input[type="password"] {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 0;
}

.login-container .submit-btn {
    background: #253366;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    border: none !important;
    width: 30%;
    border-radius: 25px;
    padding: 0.8rem;
}

.login-container .title {
    font-weight: 600;
    color: black;
    text-align: left;
    width: 50%;
    margin-bottom: 1rem;
    font-size: 1.7rem;
}

.login-container .forgot-password {
    text-align: right;
    width: 50%;
    padding-top: 0;
    margin-top: 5px;
    color: rgb(136, 136, 136);
    font-size: 0.8rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-container .alt-login {
    color: rgb(136, 136, 136);
    font-size: 0.8rem;
}

.login-container .divider {
    margin-top: 1rem;
    width: 30%;
    height: 0.1rem;
    border-radius: 0.2rem;
    border: none;
    background: rgb(136, 136, 136);
    margin-left: 1rem;
    margin-right: 1rem;
}

.login-container .login-icons {
    width: 20%;
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
