.login-container .form,
.form_container .form {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.form_container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form_container input {
    margin: 30px;
    padding: 5px;
    border-radius: 10px;
}

.form_container .creatable-multi-select {
    margin: 30px;
    padding: 5px;
    border-radius: 10px;
}
