.register-user-container {
    padding: 10px 50px 30px 50px;
}

.login-container .form {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
