.assessment-page-container {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.query-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* TODO: should change this format also for launch-btn later */
.search {
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat 95% center;
    background-color: #f3f3f3;
    border: none;
    min-width: 300px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 12px;
}

.launch-btn {
    background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat 95% center;
    background-color: #f3f3f3;
    min-width: 175px;
    border: none;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-radius: 12px;
    color: #757575;
    display: flex;
    align-items: center;
}

.launch-btn:hover {
    border: 1px solid #757575;
}

.assessment-list-header {
    display: flex;
    background-color: #dcdcdc;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 12px 25px;
}

.assessment-list-header > h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.bfc-name {
    flex: 1.5;
}

.bfc-id,
.assessment-date {
    flex: 2;
}

.assessment-list-stack {
    background-color: #f3f3f3;
    padding: 0 30px;
    height: 100%;
}
