.single-workshop-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px;
    padding: 10px;
}

.single-workshop-container > a {
    width: fit-content;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 400;
    color: var(--text-link);

}

.single-workshop-container > .single-workshop {
    margin: auto;
    width: 80%;
    height: 85%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.single-workshop-container .single-workshop-heading {
    justify-content: space-between;
    align-items: right;
    border-bottom: solid black;
    margin-bottom: 30px;
}

.single-workshop-container .tab {
    border-radius: 8px 8px 0 0;
    margin-left: 5px;
    border: 0;
    padding: 8px 20px;
}

.single-workshop-container .single-workshop-heading > h1 {
    margin: 0;
}

.single-workshop-container .workshop-info-container,
.single-workshop-container .workshop-enroll-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.single-workshop-container .workshop-info-container > .workshop-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3em;
    margin: 0.7em 0em;
}

.single-workshop-container .workshop-info > h3 {
    flex: 1;
    height: fit-content;
    margin: 0;
}

.single-workshop-container .workshop-info > h7,
.single-workshop-container .workshop-info > .workshop-hosts {
    flex: 4;
}

.single-workshop-container .workshop-info > .workshop-hosts {
    display: flex;
    flex-direction: column;
}

.single-workshop-container .workshop-info-buttons-container {
    margin-top: 2em;
}

.single-workshop-container
    .workshop-info-buttons-container
    > .workshop-buttons-inner {
    display: flex;
    justify-content: space-between;
}

.single-workshop-container .workshop-buttons-inner > .workshop-archive-delete {
    display: flex;
    flex-direction: column;
}

.single-workshop-container .workshop-archive-delete > button {
    background-color: transparent;
    border: none;
    text-decoration-line: underline;
    text-decoration-color: var(--text-link);
    color: var(--text-link);
    cursor: pointer;
}

.single-workshop-container .workshops-page-container .submit-button {
    padding: 5px 50px;
    border-radius: 3px;
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
    font-size: 12pt;
    height: fit-content;
    width: fit-content;
}

.single-workshop-container .heading-buttons {
    text-align: right;
}

.single-workshop-container .attendance-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.single-workshop-container .attendance-button {
    flex: 1;
    margin-right: 20px;
    height: fit-content;
}

.single-workshop-container .attendance-button > img {
    height: 100px;
}

.single-workshop-container .modal-body {
    width: 20%;
}

.attendance-instructions {
    margin: auto;
    width: 80%;
    height: 85%;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}
