:root {
    --text-link: #888b8f;
    --button-color: #e8e9eb;
    --mid-color: #d0d0d1;
}

.single-workshop-container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2em 4em;
}

.single-workshop-container > a {
    width: fit-content;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 400;
    color: var(--text-link);
}

.single-workshop-container > .single-workshop {
    margin: auto;
    width: 80%;
    height: 85%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.single-workshop-heading {
    justify-content: space-between;
    align-items: right;
    border-bottom: solid black;
    margin-bottom: 30px;
}

.tab {
    border-radius: 8px 8px 0 0;
    margin-left: 5px;
    border: 0;
    padding: 8px 20px;
}

.single-workshop-heading > h1 {
    margin: 0;
}

.workshop-info-container,
.workshop-enroll-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.workshop-info-container > .workshop-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3em;
    margin: 0.7em 0em;
}

.workshop-info > h3 {
    flex: 1;
    height: fit-content;
    margin: 0;
}

.workshop-info > h7,
.workshop-info > .workshop-hosts {
    flex: 4;
}

.workshop-info > .workshop-hosts {
    display: flex;
    flex-direction: column;
}

.workshop-info-buttons-container {
    margin-top: 2em;
}

.workshop-info-buttons-container > .workshop-buttons-inner {
    display: flex;
    justify-content: space-between;
}

.workshop-buttons-inner > .workshop-archive-delete {
    display: flex;
    flex-direction: column;
}

.workshop-archive-delete > button {
    background-color: transparent;
    border: none;
    text-decoration-line: underline;
    text-decoration-color: var(--text-link);
    color: var(--text-link);
    cursor: pointer;
}

.submit-button {
    padding: 5px 50px;
    border-radius: 3px;
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
    font-size: 12pt;
}

.heading-buttons {
    text-align: right;
}

.attendance-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.attendance-button {
    flex: 1;
    margin-right: 20px;
}

.attendance-button > img {
    height: 100px;
}

.modal-body {
    width: 20%;
}
