.workshops-page-container {
    padding: 30px;
}

.workshops-page-container .dropdown-container {
    width: 10rem;
    color: black;
}
.workshops-page-container .button {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-decoration: none;
    color: black;
}

.workshops-page-container .workshops-list-container{
    border: 3px solid black;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.workshops-page-container .workshops-card {
    color: black;
    display: flex;
    border: 1px solid white;
    padding: 5px;
}

.workshops-page-container .workshops-card > h3,
.workshops-page-container .workshops-card > h4,
.workshops-page-container .workshops-card > h5,
.workshops-page-container .workshops-card > button {
    margin: 3px;
    color: black;
    align-items: right;
}

.workshops-page-container .button:hover {
    background-color: black;
    color: white;
}

.single-workshop-container .workshop-tabs {
    display: flex;
    justify-content: space-between;
}
