.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}
.sortAndSearch {
    display: flex;
    flex-direction:row;
    height: 50px;
    align-items: bottom;
}
/* MODAL */
/* Background effect. It covers the entire site */
.modal {
    background-color: rgb(0, 0, 0); /* Fallback color */

    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 80px; /* Location of the content container */
}
/* Modal content */
.modal-content {
    position: relative;
    background-color: white;
    width: 70%; /* Width in proportion to its parent container*/
    max-width: 640px; /* Max width where it stops expanding */
    height: auto; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px; /* Optional. Rounds container corners */
}
/* Close button */
.close {
    color: #fff;
    background-color: #999;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 15px;
    border-radius: 50%;
    border: 2px solid #333;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

.workshops-page-container {
    padding: 30px;
}

.workshops-page-container .dropdown-container {
    width: 100%;
    color: black;
}
.workshops-page-container .button {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-decoration: none;
    color: black;
    width: 100%;
}

.close {
    background-color: #999;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 15px;
    border-radius: 50%;
    border: 2px solid #333;
    padding: 0.5rem 1rem;
    margin: 1rem;
}
.workshops-page-container .workshops-page-container .workshops-list-container {
    border: 3px solid black;
    flex-wrap: wrap;
    justify-content: center;
}

.workshops-page-container .workshops-card {
    color: black;
    display: flex;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
}

.workshops-page-container .workshops-card > h3 {
    color: black;
    font-weight: bold;
    flex: 1;
    height: 5%;
    align-items: top;
}
.workshops-page-container .workshops-card > h4,
.workshops-page-container .workshops-card > h5 {
    color: black;
    font-weight: normal;
    display: inline-block;
    height: 5%;
    align-items: top;
    flex: 1;
}

.workshops-page-container .workshops-card > button {
    margin: 3px;
    color: black;
    display: inline-block;
}

.workshops-page-container .button:hover {
    background-color: black;
    color: white;
}
.delete-button {
    border-radius: 10px;
    color: black;
    padding: 5px 25px;
    font-size: 18px;
    font-weight: 500;
    float: right;
}

.sortAndSearch .workshop-input {
    border-radius: 10px;
    border: none;
    background-color: var(--button-color);
    flex: 1;
    height: 70%;
    margin: 0px 10px;
}

.sortAndSearch .dropdown {
    flex:1;
    margin: 10px
}