.nav-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.nav-sidebar::-webkit-scrollbar {
    display: none;
}

.nav-sidebar .user-pfp {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    line-height: 155px;

    border-radius: 100px;
    /* border: 1px solid #000000; */
    font-size: 50px;
    color: #000000;
    text-align: center;
    background: #c1c7df;
    align-self: center;
}

.nav-sidebar .collapse-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transform: rotateY(180deg);
}

.nav-sidebar.collapsed .collapse-icon {
    position: static;
    margin-top: 20px;
    transform: rotateY(0);
}

.nav-sidebar .logo-container {
    margin-inline: 50px;
    margin-top: 40px;
}

.nav-sidebar.collapsed .logo-container {
    margin-inline: 0;
    margin-bottom: 25px;
}

.nav-sidebar img.logo {
    height: 105px;
}

.nav-sidebar.collapsed img.logo {
    height: 45px;
}

.nav-sidebar .profile-link-container {
    color: black;
    text-decoration: none;
}

.nav-sidebar.collapsed .profile-link-container {
    padding: 10px 15px;
    border-radius: 15px;
}

.nav-sidebar img.user-profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-block: 20px;
}

.nav-sidebar .display-name {
    font-weight: bold;
    text-align: center;
    margin: 0.25rem 0;
}

.nav-sidebar nav {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}

.nav-sidebar.collapsed nav {
    width: unset;
    margin-top: 0;
}

.nav-sidebar nav a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 5px 15px;
    padding: 10px 15px;
    border-radius: 15px;
}

.nav-sidebar nav a.active {
    background-color: #EBB19B;
}

.nav-sidebar nav img.icon {
    width: 36px;
    height: 36px;
}

.nav-sidebar .link-label {
    margin-left: 20px;
}

.nav-sidebar.collapsed .link-label {
    display: none;
}

.nav-sidebar button.logout-button {
    border: 2px solid #EBB19B !important;
    border-radius: 3px;
    background-color: white;
    color: #EBB19B;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-block: 35px;
}

.nav-sidebar button.logout-button:hover {
    background-color: #EBB19B;
    color: white;
}

.nav-sidebar.collapsed button.logout-button {
    display: none;
}
