.workshops{
    padding: 30px;
    width: 50rem;
}
.workshops .dropdown{
    width:10rem;
    color: black;
}
.workshops .button {
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
}
.workshops-container {
    border: 3px solid white;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.workshops .card {
    color: white;
    display: flex;
    width: auto;
    border: 1px solid white;
    color: white;
    padding: 5px;
    text-align: center;
}

.workshops .card > h3, h4, h5, button {
    margin: 3px;
    color: white;
    align-items: right;
}
.workshops-container .button {
    border: 2px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-decoration: none;
    color: white;
    align-items: center;
}

.workshops-container .button:hover {
    background-color: white;
    color: white;
}

.workshopTabs{
    display: flex;
    justify-content: space-between;
}
