.table-header {
    display: flex;
    border-radius: 12px;
    background-color: #f3f3f3;
    margin: 0px 5px;
    padding: 0px 15px;
}

.table-header > h3 {
    flex: 2;
    font-size: 20px;
}

.table-header .section-score,
.section-score-num {
    text-align: center;
    display: flex;
    align-items: center;
}

.table-header .section-score {
    flex: 1;
    justify-content: right;
    padding-right: 1rem;
}

.table-header .section-score-num {
    flex: 0.3;
    justify-content: left;
    color: #646464;
}

.question-list {
    display: flex;
    padding: 10px;
    margin: 0;
    width: 100%;
}

.question-list > tbody {
    width: 100%;
}

.question-note-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-bottom: 1px solid #999999;
    width: 100;
    height: fit-content;
}

.question-row,
.notes-row {
    display: flex;
    width: 100%;
}

.question-index,
.question-content,
.score {
    display: flex;
    height: 30px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.question-content {
    flex: 4;
    color: #757575;
    text-align: left;
}

.score {
    flex: 0.2;
    color: #646464;
    border-radius: 12px;
    justify-content: center;
    background-color: #d6d6d6;
}

.notes-row {
    height: fit-content;
    display: flex;
}

.notes-label {
    flex: 0.5;
    margin-left: 10px;
}

.notes-content {
    flex: 4;
    margin-right: 10px;
    text-align: left;
}
