@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
    --text-link: #888b8f;
    --darkest-color: #6f7172;
    --even-midder: #dededf;
    --button-color: #e8e9eb;
    --light-button-color: #f3f5f9;
    --mid-color: #d0d0d1;
    --text-color: #6f7172;
    font-family: "Raleway", sans-serif !important;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

button {
    font-family: inherit;
}

button:disabled {
    opacity: 0.25;
}
