.mark-attendance-container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2em 3em;
}

.mark-attendance-container > a {
    width: fit-content;
    margin-bottom: 20px;
    font-size: 12pt;
    font-weight: 400;
    color: var(--text-link);
}

.mark-attendance {
    margin: auto;
    width: 80%;
    height: 85%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.attendance-header {
    display: flex;
    justify-content: space-between;
}

.attendance-header > input {
    height: fit-content;
    margin: auto 0;
}

.beneficiary-card {
    width: 100px;
}

.mark-attendance-beneficiaries {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 15px;
    overflow-y: scroll;
    align-content: stretch;
    margin: 15px 0;
}

.ben-card {
    flex-basis: clamp(100px, 20%, 140px);
    height: 150px;
    border-radius: 16px;
    background-color: var(--mid-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.tmp-photo {
    height: 60px;
    width: 60px;
    margin: auto;
    background-color: var(--text-link);
    border-radius: 50%;
}

.ben-card > h3 {
    width: fit-content;
    margin: auto;
}

.present-absent-container {
    display: flex;
    justify-content: center;
}

.submit-button-container {
    display: flex;
    justify-content: end;
}

.highlight {
    background-color: yellow;
}
