.modal-container {
    display: flex;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.modal-body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: black;
    width: 35%;
    background-color: white;
    padding: 3em 8em 3em 10em;
    font-size: 20px;
}

.cancel-button {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 3em;
    top: 3em;
}

.modal-submit-button {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    right: 3em;
    bottom: 1em;
}

.submit-button {
    border-radius: 10px;
    color: black;
    padding: 5px 25px 5px 25px;
    font-size: 18px;
    font-weight: 500;
}

.add-schedule-button {
    width: 100%;
}

.modal-body>h1 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 0.5em 0;
    font-family: "Helvetica", Arial, Lucida Grande, sans-serif !important;
}

input,
textarea,
.start-end-date {
    margin: 0.5em 0;
    font-size: 15px;
    font-family: inherit;
    font-weight: 400;
}

.modal-body>h6 {
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 0.2em 0;
}

.add-hosts,
.add-schedule {
    margin: 0.5em 0;
}

.add-hosts>h6,
.add-schedule>h6 {
    font-size: 15px;
    font-family: inherit;
    font-weight: 400;
    margin: 0 0 5px 0;
}

.modal-input-text {
    border: 0;
    border-bottom: 1px solid var(--mid-color);
    color: var(--text-color);
    text-decoration: none;
    width: auto;
    box-sizing: border-box;
    padding: 0 0.1em;
}

.modal-input-text:focus {
    outline: none;
}

.modal-input-text::placeholder {
    color: var(--text-color);
    font-weight: 300;
}

.modal-text-area {
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 0.5em;
    color: var(--text-color);
    border: 1px solid var(--mid-color);
    resize: none;
    height: 100px;
}

.modal-text-area:focus {
    outline: none;
}

.modal-text-area::placeholder {
    color: var(--text-color);
    font-weight: 300;
}

.start-end-date {
    display: flex;
    justify-content: space-between;
}

/* /* .react-select-container {
    border: 1px solid var(--mid-color);
    border-radius: 15px;
    box-sizing: border-box;
    height: 100px;
    padding: 0 10px;
} */

.react-select__control {
    background-color: antiquewhite;
    position: absolute;
}

.react-select__menu-list {
    color: black;
    font-size: 15px;
}

.react-select__value-container {
    font-size: 15px;
    padding: 100px;
    box-sizing: border-box;
    height: 7em;
    display: flex;
    align-content: flex-start;
}

.react-select__multi-value {
    border-radius: 15px !important;
    border: 1px solid var(--mid-color) !important;
    padding: 2px 10px 2px 15px;
    background-color: transparent !important;
    margin: 5px !important;
}

.react-select__multi-value:hover {
    border: 1px solid black !important;
}

.react-select__multi-value_label {
    background-color: transparent;
    margin-right: 3px !important;
    color: var(--mid-color) !important;
}

.react-select__multi-value__remove:hover {
    background-color: transparent !important;
}

.add-schedule-button {
    width: 100%;
    border-radius: 20px;
}

/* .react-select__value-container {
    color: aquamarine;
    border: 5px solid blueviolet;
    background-color: bisque;
    height: 100px;
    width: 100px;
    font-size: 10pt;
} */



/* .react-select__indicators {
    padding: 0 15px;
}

.react-select__option {
    border: none;
    border-radius: 15px;
    padding: 0 10px;
} */
/* 
.react-select__clear-indicator:focus,
.react-select__control:focus,
.react-select__menu:focus,
.react-select__menu-list:focus,
.react-select__option:focus,
.react-select__menu-portal:focus,
.react-select__value-container:focus,
.react-select__multi-value:focus,
.react-select__placeholder:focus,
.react-select__clear-indicator:hover,
.react-select__control:hover,
.react-select__menu:hover,
.react-select__menu-list:hover,
.react-select__option:hover,
.react-select__menu-portal:hover,
.react-select__value-container:hover,
.react-select__multi-value:hover,
.react-select__placeholder:hover {
    outline: none !important;
    border-color: black !important;
} */

/* 
+.react-select__clear-indicator   The X clear all button 
+.react-select__control      The x for deleting one input
+.react-select__menu         The dropdown box container that holds all the options
+.react-select__menu-list    Holds the list items
+.react-select__option       Each individual list item in dropdown
+.react-select__menu-portal   Space in between main container and dropdown options 
+.react-select__value-container   Main box that has all items in it. Doesnt include The X and dropdown arrow
+.react-select__multi-value  Each individual option box when selected and inside the main container
+.react-select__placeholder  PLaceholder text container when nothing is chosen
+*/

/* 
.modal-container {
    display: flex;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.modal-body {
    margin: auto;
    color: black;
    width: 50%;
    background-color: white;
    padding: 10px;
}

.react-select-container {
    margin: 25px 0px;
}

.react-select__menu-list {
    color: black;
    font-size: 20px;
}

.react-select__value-container {
    font-size: 25px;
} */
