/* Prefix selectors with parent container */

.program-list-view-container {
    position: relative;
    box-sizing: border-box;
    border: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px 50px 30px 50px;
}

.program-list-view-container .program-list-view-container > h1 {
    margin: 0;
}

.program-list-view-container .program-sort-options-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.program-list-view-container .sort-options {
    flex: 0.5;
    display: flex;
    min-width: 220px;
}

.program-list-view-container .dropdown {
    flex: 1;
    margin-right: 10px;
    position: relative;
}

.program-list-view-container .filter-options,
.program-list-view-container .sort-to-options {
    border: none;
    background-color: var(--button-color);
    padding: 7px 15px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.program-list-view-container #filter-dropdown,
.program-list-view-container #sort-dropdown {
    position: absolute;
    margin: 10px 0;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--button-color);
    z-index: 1;
    width: auto;
}

.program-list-view-container #sort-dropdown {
    padding: 0;
}

.program-list-view-container #sort-option-AtoZ,
.program-list-view-container #sort-option-start-date,
.program-list-view-container #sort-option-date-added {
    position: absolute;
    left: 100%;
    top: 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--button-color);
    z-index: 1;
    width: auto !important;
    height: 33%;
}

.program-list-view-container #sort-option-start-date {
    top: 33%;
}

.program-list-view-container #sort-option-date-added {
    top: 66%;
}

.program-list-view-container .sort-inner-options-container {
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    background-color: var(--even-midder);
}

.program-list-view-container .sort-inner-options-container h5 {
    border-radius: 10px;
    box-sizing: border-box;
    width: auto !important;
    min-width: 50px;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
}

.program-list-view-container .sort-inner-options-container label:hover {
    background-color: var(--mid-color);
}

.program-list-view-container .sort-inner-options-container label {
    height: 100%;
    border-radius: 10px !important;
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
}

.program-list-view-container .sort-inner-options-container > :first-child {
    border-right: 1px solid var(--darkest-color);
    border-radius: 10px 0px 0px 10px !important;
}

.program-list-view-container .sort-inner-options-container > :nth-child(2) {
    border-radius: 0px 10px 10px 0px !important;
}

.program-list-view-container .status-options-container,
.program-list-view-container .sort-options-container {
    position: relative;
    width: 100%;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.program-list-view-container #middle-sort-option {
    margin: 10px 0;
}

.program-list-view-container .status-options-sub,
.program-list-view-container .sort-options-sub {
    width: 100%;
}

.program-list-view-container #status-options-dropdown {
    position: absolute;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--even-midder);
    z-index: 1;
    width: 150px;
    left: calc(100% + 15px);
    height: auto;
}

.program-list-view-container #status-options-dropdown label {
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    width: auto;
    justify-content: center;
    display: flex;
}

.program-list-view-container .sort-radio-button {
    visibility: hidden;
    display: none;
}

.program-list-view-container #status-options-dropdown input:hover + label {
    background-color: var(--darkest-color);
}

.program-list-view-container #sort-dropdown .outer-label {
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    width: auto;
}

.program-list-view-container #sort-dropdown .outer-label:hover {
    background-color: var(--mid-color);
}

.program-list-view-container .status-options-container h6,
.program-list-view-container .sort-options-container h6 {
    font-size: 10px;
    border-bottom: 1px solid var(--text-link);
    color: var(--text-link);
    margin: 0 0 7px 0;
    font-weight: 400;
    width: 100%;
}

.program-list-view-container .status-options-main,
.program-list-view-container .sort-options-main {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.program-list-view-container .status-options-main h5,
.program-list-view-container .sort-options-main h5 {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

.program-list-view-container .filter-sort {
    flex: 1;
}

.program-list-view-container .search-and-create {
    display: flex;
    justify-content: end;
    flex: 1;
}

.program-list-view-container .search-and-create > input {
    margin: 0px 15px 0px 0px;
    border-radius: 10px;
    border: none;
    background-color: var(--button-color);
    padding: 0 10px;
    width: 35%;
    height: 100%;
}

.program-list-view-container .program-list-header {
    position: sticky;
    top: 5px;
    display: flex;
    background-color: var(--mid-color);
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px 30px;
}

.program-list-view-container .program-list {
    background-color: var(--button-color);
    padding: 0 30px;
    height: fit-content;
}

.program-list-view-container .program-list-header > h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.program-list-view-container .program-card > h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.program-list-view-container .program-card {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid black;
}

.program-list-view-container .program-title {
    flex: 1.5;
}

.program-list-view-container .program-description {
    flex: 3;
    padding-left: 15px;
}

.program-list-view-container .submit-button {
    padding: 5px 40px;
    border-radius: 7px;
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
    font-size: 12pt;
}

.program-list-view-container .program-start-date,
.program-list-view-container .program-date-added {
    flex: 1;
    padding-left: 15px;
}

.program-list-view-container a {
    text-decoration: none;
    color: black;
}

.program-list-view-container .program-status {
    flex: 0.5;
    padding-left: 15px;
}
