/* Prefix selectors with parent container */

.single-program-container {
    box-sizing: border-box;
    border: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2em 3em;
}

.single-program-container a {
    text-decoration: none;
    color: black;
}

.single-program-container > a {
    width: fit-content;
    margin-bottom: 20px;
    font-size: 12pt;
    font-weight: 400;
    color: var(--text-link);
}

.single-program-container > .single-program {
    margin: auto;
    width: 80%;
    height: 85%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.single-program-container .single-program-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: solid black;
    margin-bottom: 20px;
}

.single-program-container .tab {
    border-radius: 9px 9px 0 0;
    margin-left: 5px;
    border: 0;
    padding: 8px 20px;
}

.single-program-container .single-program-heading > h1 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 600;
}

/* OVERVIEW TAB */

.single-program-container .program-info-container,
.single-program-container .program-enroll-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.single-program-container .edit-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    margin: 0;
    box-sizing: border-box;
    padding: 0 5px;
    border-radius: 10px;
    border: 1px solid black;
}

.single-program-container .program-info-container > .program-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3em;
    margin: 0.7em 0em;
}

.single-program-container .program-info > h3 {
    flex: 1;
    height: fit-content;
    margin: 0;
}

.single-program-container .program-info input,
.single-program-container .program-info textarea {
    margin: 0;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 5px;
}

.single-program-container .program-info textarea {
    width: 100%;
}

.single-program-container .program-info h6,
.single-program-container .program-info > .single-prog-schedule,
.single-program-container .schedule-singleday h5 {
    height: 100%;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex: 4;
    margin: 0;
}

.single-program-container .single-prog-schedule {
    flex-direction: column;
}

.single-program-container .schedule-singleday {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    min-width: 250px;
}

.single-program-container .schedule-startendtimes {
    display: flex;
    margin-left: 40px;
    min-width: 130px;
}

.single-program-container .schedule-startendtimes input {
    max-width: 50px;
    border-radius: 10px;
    padding: 0 5px;
    border: 1px solid black;
}

.single-program-container .schedule-startendtimes h6 {
    margin: 0 10px;
}

.single-program-container .program-hosts {
    display: flex;
    flex: 4;
    flex-direction: column;
}

.single-program-container .program-hosts h6 {
    margin: 2px 0px 5px 0px;
    font-size: 14px;
}

.single-program-container .program-info-buttons-container {
    margin-top: 2em;
}

.single-program-container
    .program-info-buttons-container
    > .program-buttons-inner {
    display: flex;
    justify-content: space-between;
}

.single-program-container
    .single-program-container
    .program-buttons-inner
    > .program-archive-delete {
    display: flex;
    flex-direction: column;
}

.program-archive-delete > button {
    background-color: transparent;
    border: none;
    text-decoration-line: underline;
    text-decoration-color: var(--text-link);
    color: var(--text-link);
    cursor: pointer;
}

.single-program-container .submit-button {
    padding: 5px 40px;
    border-radius: 7px;
    background-color: var(--button-color);
    border: none;
    cursor: pointer;
    font-size: 12pt;
}

/* ENROLL TAB */

.single-program-container .program-enroll-subheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.single-program-container .program-enroll-subheading > h3 {
    margin: 0;
}

.single-program-container .program-enroll-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.single-program-container .program-enroll-options > .ben-search-bar {
    height: 22px;
    border-radius: 5px;
    border: 0.7px solid;
}

.single-program-container .program-enroll-beneficiaries-container {
    height: 100%;
    margin: 15px 0px;
    background-color: var(--button-color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-program-container .program-enroll-beneficiaries {
    margin: 15px 20px;
    /* margin-right: min(1em, 15px);
    margin-left: min(1em, 15px); */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 15px;
    overflow-y: scroll;
    align-content: stretch;
}

.single-program-container .submit-edit-roster {
    width: 100%;
    display: flex;
    justify-content: end;
}

.single-program-container .submit-edit-roster > .submit-button {
    padding: 5px 40px;
    border-radius: 5px;
    background-color: var(--text-link);
    border: none;
    cursor: pointer;
    font-size: 12pt;
    margin: 15px 30px;
}

.single-program-container .beneficiary-card {
    flex-basis: clamp(150px, 30%, 180px);
    height: 130px;
    border-radius: 16px;
    background-color: var(--mid-color);
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: end;
}

.single-program-container .beneficiary-card > .card-info {
    height: fit-content;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.single-program-container .delete-button-container {
    display: flex;
    justify-content: end;
}

.single-program-container .delete-ben-button {
    height: 20px;
    width: 20px;
    margin: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.single-program-container .tmp-photo {
    height: 60px;
    width: 60px;
    background-color: var(--text-link);
    border-radius: 50%;
}

.single-program-container .mark-attendance-button-container {
    display: flex;
    justify-content: end;
}

.single-program-container .confirm-delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.single-program-container .center-confirm-delete {
    display: flex;
    justify-content: center !important;
}
