.changepass-overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(15,15,15,.4);
    backdrop-filter: blur(2px);
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.changepass-title {
    text-align: center;
}

.changepass-content {
    position: absolute;
    padding: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    z-index: 1;
    position: absolute;
    width: 58%;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #0c192b;
}

.changepass-input {
    width: 100%;
    border-radius: 10px;
    border: .5px solid rgb(200, 200, 200);
    margin-top: 2rem;
}

.changepass-btn {
    border: none;
    cursor: pointer;
    background-color: rgb(217, 217, 217);
    padding: 0.5rem 1.5rem;
    max-width: 20%;
}