name: Format code with Prettier
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    test:
        name: Format code with Prettier
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Install packages
              run: npm ci
            - name: Run formatter
              run: npm run format
